li {
    background-color: yellow;
    font-size: 20px;

}

li em {
    font-weight: bold;
}

li.impar {
    text-transform: uppercase;
}

li.par {
    color: green;
}

h1,
h3 {
    color: red;
}

h1 em,
h3 em {
    font-size: 40px;
    border: solid black 1px;
}

div ul li:nth-child(-n + 3) {
color: blue;

}

#javapink {
    background-color: pink;
}


.linguagens li a[href*="stackoverflow"]:hover {
    color: orangered;
    font-weight: bold;
}

.linguagens li a[href*="w3schools"]:hover {
    color: green;
    font-weight: bold;
}

.linguagens li a[href*="developer.mozilla"]:hover {
    color: black;
    font-weight: bold;

    }

.linguagens li a[href*="devdocs.io"]:hover {
    color: yellowgreen;
    font-weight:bold;
}

.linguagens li a[href*="betrybe"]:hover {
    color:green;
    font-weight:bold;
}